/* Inter-100 */
@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-Thin.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-Thin.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-Thin.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-200 */
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-ExtraLight.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-ExtraLight.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-ExtraLight.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-300 */
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-Light.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-Light.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-Light.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-400 */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-Regular.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-Regular.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-Regular.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-500 */
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-Medium.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-Medium.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-Medium.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-600 */
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-SemiBold.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-SemiBold.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-SemiBold.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-700 */
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-Bold.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-Bold.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-Bold.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-800 */
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-ExtraBold.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-ExtraBold.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-ExtraBold.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Inter-900 */
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/inter/Inter-Black.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/fonts/inter/Inter-Black.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("/fonts/inter/Inter-Black.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-mono-300 - latin_latin-ext */
@font-face {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-300.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-300.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-300.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-mono-500 - latin_latin-ext */
@font-face {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-500.woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-500.woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-500.ttf");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
