<header class="bg-white">
  <nav class="flex items-center justify-between p-4 border-b border-zinc-100">
    <div class="flex items-center gap-4">
      <%= for link <- @__beacon_menu__.links, link != :skip do %>
        <%= maybe_link(@socket, @beacon_page, link) %>
      <% end %>
    </div>
  </nav>
</header>

<main class="px-4 py-16 mx-auto sm:px-6 lg:px-8">
  <%= render_page(@beacon_page.module, assigns) %>
</main>
